#container{
	width: 800px;
}

#video_home {
  width: 800px;
  height: 400px;
}

#myVideo{
	width: 100%;
}

#animatedLogo{
    height: 65px;
}

.nav{
	height: 65px;
}

.nav-item-home{
    background-color: #75B09C !important;
    padding: 0;
}

.nav-item-home a{
    padding: 0 !important;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  background-color: #75B09C;
}

li {
  float: left;
}

li a {
  display: block;
  color: #2B2D42;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #D8F793;
}

.active{
	background-color: #D8F793;
}


/* Style General */
#textAbout, #factsContent, #helpContent, .contact-us {
  margin: auto;
  width: 70%;
  background: rgba(229, 122, 68, 0.95);
  padding: 10px;
}

#textAbout h2, #helpContent h1, #products h1, #content h1, #checkout-order-form h2, #factsContent h1, .contact-us h1{
  text-align: center;
  font-size: 40px;
  color: #2B2D42;
  font-family: 'Lobster', cursive;
 }

.cart-item {
  float: right;
}

.cart-item a{
  padding: 20px 25px 0 0;
}

.cart-item a:hover {
  background-color: #75B09C;
}

/* Contact Us */
.contact-us input{
  width: 25em;
}

.contact-us textarea{
  width: 25em;
}

.contact-us button{
  width: 7.5em;
  height: 2.5em;
  background-color: #75B09C;
}

/* Help Page CSS */
.howToHelp {
  padding: 30px 0 0 0; 
  background-color: #75B09C;
  background-image: url("../images/dogsBay.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#helpContent {
  margin: auto;
  width: 70%;
  background: rgba(229, 122, 68, 0.95);
  padding: 10px;
  height: 1020px;
}

#helpContent ul {
  list-style-type: circle;
}
 #helpContent P {
  margin: 30px 70px 0 70px;
  font-size: 24px;
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
 }


/* Facts Page */
.facts {
  padding: 30px 0 0 0; 
  background-color: #75B09C;
  background-image: url("../images/ducks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1020px;
}

#factsContent {
  height: 1000px;
  overflow:hidden;
}

#factsContent P {
  margin: 30px 70px 0 70px;
  font-size: 24px;
  color: white;
  font-family: 'Sorts Mill Goudy', serif; 
 }


/* About Page CSS */
#aboutContent {
  padding: 30px 0 0 0; 
  background-color: #75B09C;
  background-image: url("../images/about_bg.jpg");
  background-size: cover;
}

#textAbout IMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#textAbout P {
  margin: 20px 70px 0 70px;
  font-size: 24px;
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
 }

 .important {
   color: #990000;
 }

 #textAbout h3{
  text-align: left;
  font-size: 26px;
  color: #2B2D42;
  font-family: 'Lobster', cursive;
  margin-left: 20px;
 }

 #map {
   margin-top: 20px;
 }

 /* Content Page */
#contactContent {
  padding: 30px 0 0 0; 
  background-color: #75B09C;
  background-image: url("../images/contact.jpg");
  background-size: cover;
}

