#container{
	width: 800px;
}

#video_home {
  width: 800px;
  height: 400px;
}

#myVideo{
	width: 100%;
}

#animatedLogo{
    height: 65px;
}

.nav{
	height: 65px;
}

.nav-item-home{
    background-color: #75B09C !important;
    padding: 0;
}

.nav-item-home a{
    padding: 0 !important;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  background-color: #75B09C;
}

li {
  float: left;
}

li a {
  display: block;
  color: #2B2D42;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #D8F793;
}

.active{
	background-color: #D8F793;
}

.learn-more{
    background-image: url("./images/learn_more.jpg");
    height: 1050px;
}

.learn-more p{
    font-size: large;
    margin-left: 10%;
    width: 55%;
}

.contact-us{
    font-size: x-large;
    margin-left: 40%;
    width: 55%;
}

.contact-us div{
    margin-top: 1em;
}

.contact-us input{
    width: 25em;
}

.contact-us textarea{
    width: 25em;
}

.contact-us button{
    width: 7.5em;
    height: 2.5em;
    background-color: #75B09C;
}